<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



        <link rel='stylesheet' type='text/css' href='../static/bootstrap.css'>
        <link rel='stylesheet' type='text/css' href='../static/style.css'>

        <title>
            {{title}}
        </title>
        <style>
            .flashes {
                color: red;
            }
            .error {
                color: red;
            }
        </style>
    </head>

    <body>
        
        <div class="container-fluid">
        <nav>
            <a href='/login'>Login</a> |
            <a href='/'>Home</a> |
            <a href="/blog">All Blog's</a> |
            <a href="/newpost">Add a Blog Entry</a> |
            <a href='/logout'>Logout</a>  
        </nav> 
        <section class="intro" id="zen-intro">
            <div class="page-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </section>
        </div>

    </body>
</html>

