<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "../static/style.css">
        <title>
            {{title}}
        </title>
        <style>
            .flashes {
                color: red;
            }
            .error {
                color: red;
            }
        </style>
    </head>

    <body>
        <nav>
            <a href='/login'>Login</a> |
            <a href='/home'>Home</a> |
            <a href="/blog">All Blog's</a> |
            <a href="/newpost">Add a Blog Entry</a> |
            <a href='/logout'>Logout</a>  
        </nav> 
        <section class="intro" id="zen-intro">
            <div class="page-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </section>

    </body>
</html>

