{% extends "base.html" %}

{% block content %}
<h1>Blog List</h1>


<div class="box">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}



{% if not blogs %}
    <p>No Blog Entry(s) Yet.</p> <!-- TODO - Lets change this into a flash message? -->
{% else %}
    {% if blogs %}
    {% for blog in blogs %}
        <hr>
        <h3><a href="/blog?id={{blog.id}}"><q>{{blog.title}}</q></a></h3>
        <p>{{blog.body}}</p>
        <div class='author-tag'>Written by: <a href="/blog?user={{ blog.owner.id }}">{{ blog.owner.username }}</a></div>
    {% endfor %}
    {% endif %}
{% endif %}
</div>

{% endblock %}